.btn{
   background: linear-gradient(to right,#0083b0,#00b4db);
   color: #514b64; 
}

.rounded-lg{
    border-radius: 1rem !important;
}

.text-small{
    font-size: 0.9rem;
}
.custom-serperator{
    width: 5rem;
    height: 6px;
    border-radius: 1rem;

}