.btn {
  background: linear-gradient(to right, #0083b0, #00b4db);
  color: #514b64;
}

.rounded-lg {
  border-radius: 1rem !important;
}

.text-small {
  font-size: 0.9rem;
}
.custom-serperator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem;
}

.mycards {
  margin-top: -5rem;
}

.services{
  background: url(https://wallpaperaccess.com/full/832357.jpg) no-repeat;
  background-size: cover;
  height: 50vh;

}
